@font-face {
  font-family: iFood RC Titulos;
  src: url(../fonts/iFoodRCTitulos-Light.woff2) format("woff2"),url(../fonts/iFoodRCTitulos-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Titulos;
  src: url(../fonts/iFoodRCTitulos-Medium.woff2) format("woff2"),url(../fonts/iFoodRCTitulos-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Titulos;
  src: url(../fonts/iFoodRCTitulos-Regular.woff2) format("woff2"),url(../fonts/iFoodRCTitulos-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Titulos;
  src: url(../fonts/iFoodRCTitulos-Bold.woff2) format("woff2"),url(../fonts/iFoodRCTitulos-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Textos;
  src: url(../fonts/iFoodRCTextos-Light.woff2) format("woff2"),url(../fonts/iFoodRCTextos-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Textos;
  src: url(../fonts/iFoodRCTextos-Regular.woff2) format("woff2"),url(../fonts/iFoodRCTextos-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Textos;
  src: url(../fonts/iFoodRCTextos-Medium.woff2) format("woff2"),url(../fonts/iFoodRCTextos-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: iFood RC Textos;
  src: url(../fonts/iFoodRCTextos-Bold.woff2) format("woff2"),url(../fonts/iFoodRCTextos-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
:root{
    font-size:62.5%;
  }
  body{
    font-size: 1.6rem;
    font-family: iFood RC Titulos, iFood RC Textos;
  }
  .hero-image {
    background-image: url('../img/fundo.png');
    /* Adicione sua imagem aqui */
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
  }

  .card-image img {
    height: 180px;
    object-fit: cover;
  }
  .chips{
    border-bottom: none;
  }
  nav.nav-wrapper.white {
  height: 14rem;
  align-content: center;
  }
  img.responsive-img.ifood-final {
    width: 67px;
}

div a.brand-logo img {
  width: 84px;
  /* height: 40px; */
  margin-top: 1rem;
}

a.grey-text.text-darken-3 {
  font-size: 1.5rem;
}

h1.black-text.center.mt-3.mb-4.mx-2 {
  /* font-size: 3rem; */
  /* font-family: 'iFood RC Titulos'; */
  font-weight: 500;
}

.card-content.red.accent-4, .card-content.light-green {
  height: 28rem;
  border-radius: 17px;
}

a.btn.red.accent-4.white-text.valign-wrapper.col.s12.center-align, a.btn.light-green.white-text.valign-wrapper.col.s12.center-align {
  margin-top: 12rem;
  
}
.card.red.accent-4.white-text.hoverable, .card.light-green.white-text.hoverable {
  border-radius: 34px;
}
.card.yellow.center-align.hoverable, .card.pink.lighten-4.center-align.hoverable, .card.purple.darken-1.center-align.hoverable {
  border-radius: 3rem;
}
span.card-title {
  font-size: 4.5rem;
  font-weight: bold;
}
@media (max-width:600px){
  .card-content.red.accent-4, .card-content.light-green {
    height: 44rem;
    border-radius: 17px;
}
nav.nav-wrapper.white {
  height: 7rem;
  align-content: center;
}
div.col.s12.m2 a img.responsive-img {
  max-width: 5rem;
}
}