:root{
    font-size:62.5%;
  }
  body{
    font-size: 1.6rem;
  }
  .hero-image {
    background-image: url('../img/fundo.png');
    /* Adicione sua imagem aqui */
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
  }

  .card-image img {
    height: 180px;
    object-fit: cover;
  }
  .chips{
    border-bottom: none;
  }
  nav.nav-wrapper.white {
  height: 10rem;
  align-content: center;
  }